<button class="mobile-menu-toggle">
    <i class="fas fa-bars"></i>
</button>

<a href="/" class="corner-logo">
    <img src="/assets/images/AB-logo.png" alt="AB Dev & Design" />
    <span class="corner-logo-text">AB Development & Design</span>
</a>

<nav id="menu">
    <div class="menu-item">
        <div class="menu-text">
            <a href="#hero">Home</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-text">
            <a href="#services">Services</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-text">
            <a href="#portfolio">Portfolio</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-text">
            <a href="#contact">Contact</a>
        </div>
    </div>
</nav>
