<nav id="menu">
  <div class="menu-item logo-container">
    <a href="/" class="logo" aria-label="AB Development & Design">
      <img src="/assets/images/AB-logo.png" alt="AB Logo" class="nav-logo" />
    </a>
  </div>

  <div class="menu-items">
    <div class="menu-item">
      <div class="menu-text">
        <a href="#home">Home</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <a href="#portfolio">Portfolio</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <a href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
