header class="main-header">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="/assets/images/AB-logo.png" alt="AB" class="nav-logo">
        </a>
    </div>
    <nav id="menu">
  <div class="menu-item">
    <div class="menu-text">
      <a href="#">Home</a>
    </div>
    <div class="sub-menu">
      <div class="icon-box">
        <div class="icon"><i class="fal fa-code"></i></div>
        <div class="text">
          <div class="title">
            Development <i class="far fa-arrow-right"></i>
          </div>
          <div class="sub-text">Crafting digital solutions.</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon"><i class="fal fa-palette"></i></div>
        <div class="text">
          <div class="title">Design <i class="far fa-arrow-right"></i></div>
          <div class="sub-text">Creating beautiful interfaces.</div>
        </div>
      </div>
      <div class="sub-menu-holder"></div>
    </div>
  </div>
  <div class="menu-item highlight">
    <div class="menu-text">
      <a href="#">Portfolio</a>
    </div>
    <div class="sub-menu double">
      <div class="icon-box gb a">
        <div class="icon"><i class="far fa-browser"></i></div>
        <div class="text">
          <div class="title">
            Web Projects <i class="far fa-arrow-right"></i>
          </div>
          <div class="sub-text">Interactive Experiences</div>
        </div>
      </div>
      <div class="icon-box gb b">
        <div class="icon"><i class="far fa-pencil-paintbrush"></i></div>
        <div class="text">
          <div class="title">
            Design Work <i class="far fa-arrow-right"></i>
          </div>
          <div class="sub-text">Visual Aesthetics</div>
        </div>
      </div>
      <div class="icon-box gb c">
        <div class="icon"><i class="far fa-mobile"></i></div>
        <div class="text">
          <div class="title">
            Mobile Apps <i class="far fa-arrow-right"></i>
          </div>
          <div class="sub-text">Native Applications</div>
        </div>
      </div>
      <div class="sub-menu-holder"></div>
    </div>
  </div>
  <div class="menu-item">
    <div class="menu-text">
      <a href="#">Contact</a>
    </div>
    <div class="sub-menu">
      <div class="icon-box">
        <div class="icon"><i class="far fa-envelope"></i></div>
        <div class="text">
          <div class="title">Email Us <i class="far fa-arrow-right"></i></div>
          <div class="sub-text">Get in touch for projects.</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon"><i class="far fa-phone"></i></div>
        <div class="text">
          <div class="title">Call Us <i class="far fa-arrow-right"></i></div>
          <div class="sub-text">Let's discuss your needs.</div>
        </div>
      </div>
      <div class="sub-menu-holder"></div>
    </div>
  </div>
  <div id="sub-menu-container">
    <div id="sub-menu-holder">
      <div id="sub-menu-bottom"></div>
    </div>
  </div>
</nav>
</header>